<p id="notice"><%= notice %></p>

<h1>Listing Pet Categories</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pet_categories.each do |pet_category| %>
      <tr>
        <td><%= pet_category.category %></td>
        <td><%= link_to 'Show', pet_category %></td>
        <td><%= link_to 'Edit', edit_pet_category_path(pet_category) %></td>
        <td><%= link_to 'Destroy', pet_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet category', new_pet_category_path %>
